.footer {
  position: fixed;
  height: 7%;
  background-color: grey;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footerIcon {
  font-size: 120%;
  padding: 10px;
  color: white;
}
